
/********************Main section********************/

 body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

 h1{
    margin: 100px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #45b29a;
    line-height: 2;
}

 h2{
     font-size: 2.5rem;
     font-family: 'Montserrat', sans-serif;
     color: #45b29a;

 }

 h3{
     font-family: 'Montserrat', sans-serif;
     color: #11999E;

 }

 span{
     text-decoration: underline;
 }

 a{
     color: #11999E;
 }
 
 hr{
     border: none;
     border-top: 5px dotted;
     width: 3%;
     color: #11999E;
     margin: 100px auto 100px auto;
     
 }

/********************class section********************/
 .programmer{
    font-weight: normal;
 }

 .top-container{
    background-color: #e0ebe8;
    position: relative;
    padding-top: 100px;
}

 .top-cloud{
    position: absolute;
    right: 500px;
    top: 50px;
}

 .bottom-cloud{
    position: absolute;
    left: 500px;
    bottom: 300px;
}

 .profile{
    margin: 100px auto 50px auto;
 }

 .img-coding{
    width: 25%;
    float: left;
    margin-right: 30px;
}

 .img-computer{
    width: 25%;
    float: right;
    margin-left: 30px;
}


.img-dumbell{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.img-coffee{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skills-row{
    width: 50%;
    margin: 120px auto 120px auto;
    text-align: left;
    line-height: 2;
}

 .description{
     width: 30%;
     margin: auto 35% auto 35%;
 }

 .bottom-container{
     background-color: #66BFBF;
     position: relative;
     padding-bottom: 40px;
 }

 .marker{
     color: #eaf6fe;
    position: relative;
    padding-top: 50px;
 }

 .contact-me{
     line-height: 2;
     width: 30%;
     margin: auto 35% auto 35%;
     
 }

 .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .button{
      margin: 50px auto 50px auto;
  }
